<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us - Guns Zone</title>
    <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
</head>

<body>
    <nav>
        <a href="{{ 'home' }}">Home</a>
        <a href="{{ 'about' }}">About Us</a>
        <a href="{{ 'services' }}">Services</a>
        <a href="{{ 'contact' }}">Contact us</a>
    </nav>
    <div class="about">
        <div class="text-box">
            <h1>About Us</h1>
            <div class="mission">
                <h3>Our Mission</h3>
                <p>Our mission is to provide the highest quality firearms, accessories, and exceptional customer service
                    to
                    our valued clients. We are committed to fostering a safe and responsible gun ownership culture
                    through
                    education and support. Our goal is to be the trusted destination for firearms enthusiasts, offering
                    a
                    wide range of products to meet the needs of hunters, sports shooters, and personal protection
                    advocates
                </p>
            </div>
            <div class="vision">
                <h3>Our Vision</h3>
                <p>Our vision is to be the leading firearms dealer and service provider, known for our unwavering
                    commitment
                    to safety, education, and customer satisfaction. We aim to create a community where responsible gun
                    ownership is promoted, and where every customer feels confident and supported in their choices.</p>
            </div>
            <div class="customer">
                <h3>Customer Reviews</h3>
                <li>
                    <p><strong>John D :</strong>The team at this store is incredibly knowledgeable and helpful. They
                        guided me through the
                        process of choosing the right firearm and provided excellent after-sales service. I highly
                        recommend them!</p>
                </li>
                <li>
                    <p><strong>Sarah :</strong>I was impressed with the professionalism and range of products available.
                        The staff took the time
                        to understand my needs and provided personalized recommendations. I'll definitely be returning
                        for all my future purchases.</p>
                </li>
                <li>
                    <p><strong>Blake R : </strong>Finding a trustworthy firearms dealer can be challenging, but this
                        store
                        exceeded my
                        expectations. Their commitment to safety and customer satisfaction is evident in every
                        interaction. Top-notch service!</p>
                </li>
            </div>

        </div>
    </div>
    <footer>
        <p style="color: aliceblue;">This website was created as part of an open-ended lab assignment. Creator: Zayem
        </p>
    </footer>
</body>

</html>